assets/nucaliby_v1.ckpt filter=lfs diff=lfs merge=lfs -text
assets/nucaliby_v1_training_config.yaml filter=lfs diff=lfs merge=lfs -text
assets/protpardelle-1c/weights/*.pth filter=lfs diff=lfs merge=lfs -text
